:host {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow1);
  view-transition-class: widget;
  view-transition-name: var(--widget-id);

  @layer widget {
    transition-behavior: allow-discrete;
    transition:
      opacity 0.25s ease-in,
      scale 0.25s ease-in,
      display 0.25s ease-in;

    // Enter animation
    @starting-style {
      scale: 0.7;
      opacity: 0;
    }

    // Exit animation
    // This property is not yet supported by web standards
    // This is why we are using angular animations to solve this for now
    // @exit-style {
    //   scale: 0.7;
    //   opacity: 0;
    //   display: none;
    // }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: var(--header-background);
    color: var(--header-color);
    font-size: 0.9rem;
    view-transition-class: widget-header;
  }

  section {
    padding: 1rem;
    background-color: var(--background-color);
    view-transition-class: widget-content;
  }
}
