:host {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 0.5rem;
  height: 100%;
  padding: 1rem;
  header {
    display: flex;
    place-items: center;
    h1 {
      flex: 1;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }
  }
  nav {
    display: flex;
    gap: 0.25rem;
  }
  section {
    display: flex;
    gap: 1rem;
  }
}
