<header class="text-shadow">
  <h1>Home</h1>
  <app-theme></app-theme>
  <app-time></app-time>
</header>

<nav>
  <button (click)="filter(1)">Widget 1</button>
  <button (click)="filter(2)">Widget 2</button>
  <button (click)="filter(3)">Widget 3</button>
  <button (click)="filter(undefined)">All</button>
  <div class="spacer"></div>
  <app-login></app-login>
</nav>

<section [@widgets]="{ value: widgets() }" [@.disabled]="animationDisabled()">
  @for (widget of widgets(); track widget.id) {
    <app-widget [data]="widget"> </app-widget>
  } @empty {
    @if (isLoading()) {
      <span class="loading">Loading...</span>
    } @else if (error()) {
      <span class="error">{{ error() }}</span>
    }
  }
</section>

<footer></footer>
