:host {
  // Page layout
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 0.5rem;
  height: 100%;
  padding: 1rem;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &.offline {
    --vignette-color: light-dark(rgb(214, 145, 145), rgb(78, 32, 32));
  }

  // Apply background image
  &::before {
    content: '';
    position: absolute;
    inset: -5%;
    background-image: url('/api/background');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transition: background-position 0.1s ease;
  }
  // Move background with cursor if user allows motion
  &:not(.inactive)::before {
    @media (prefers-reduced-motion: no-preference) {
      background-position: var(--background-position-x, center)
        var(--background-position-y, center);
    }
  }

  // Apply vignette when browser tab is inactive
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      circle at center center,
      transparent 0%,
      var(--vignette-color, var(--background-color)) 100%
    );
    z-index: -1;
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
  }
  &.inactive::after {
    opacity: 1;
  }

  // Other styles
  header {
    display: flex;
    place-items: center;
    margin: -1rem -1rem 0 -1rem; // Compensate for parent element padding
    padding: 1rem 1rem 0 1rem;
    background: linear-gradient(
      to bottom,
      var(--header-background),
      transparent
    );
    h1 {
      flex: 1;
    }
  }
  nav {
    display: flex;
    gap: 0.25rem;
  }
  section {
    display: flex;
    gap: 1rem;
  }
}
