:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
nav {
  display: flex;
  gap: 0.25rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  view-transition-name: widget-container;
  ::ng-deep app-widget {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: min-content;
    min-width: 11rem;
  }
}
