<nav>
  <button (click)="filter(1)">Weather</button>
  <button (click)="filter(2)">Starfield</button>
  <button (click)="filter(3)">Widget 3</button>
  <button (click)="filter(undefined)">All</button>
  <div class="spacer"></div>
  @defer {}
</nav>

<section [@widgets]="{ value: widgets() }" [@.disabled]="animationDisabled()">
  @for (widget of widgets(); track widget.id) {
    <app-widget [data]="widget"> </app-widget>
  } @empty {
    @if (isLoading()) {
      <span class="loading">Loading...</span>
    } @else if (error()) {
      <span class="error">{{ error() }}</span>
    }
  }
</section>
