:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}
nav {
  display: flex;
  gap: 0.25rem;
}

.widget-area {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: normal;
  height: auto;
  flex: 1;
  view-transition-name: widget-container;
}

footer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--divider-color);
  margin-top: auto;
}
