<aside class="sidenav" [attr.role]="'navigation'">
  <header>
    <h2>Admin Panel</h2>
  </header>
  <ul class="nav-list">
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <span class="material-icons">dashboard</span>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/articles" routerLinkActive="active">
        <span class="material-icons">article</span>
        <span>Articles</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/articles/new">
        <span class="material-icons">add</span>
        <span>New Article</span>
      </a>
    </li>
  </ul>
</aside>

<section>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>
