:host {
  display: grid;
  grid-template: 'nav content' 1fr / auto 1fr;
  flex: 1;
}
aside {
  grid-area: nav;
  padding: var(--content-padding);
  background-color: var(--color-surface);
}
section {
  grid-area: content;
  padding: var(--content-padding);
  @media (max-width: var(--breakpoint-md)) {
    padding: var(--content-padding-mobile);
  }
}
