:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}
nav {
  display: flex;
  place-content: space-between;
  place-items: center;
  gap: 0.25rem;
  menu {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    @media screen and (max-width: 570px) {
      button {
        flex: 1;
      }
    }
    @media screen and (max-width: 420px) {
      flex-direction: column;
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 470px) {
    position: relative;
    lib-popover-toggle {
      position: absolute;
      right: 0;
      top: -7.5rem;
    }
  }
}

.widget-area {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: normal;
  height: auto;
  flex: 1;
  view-transition-name: widget-container;
}
