.widget-loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  view-transition-class: widget-loader;
}

.widget {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  view-transition-class: widget;
  view-transition-name: var(--widget-id);
  .widget-wrapper {
    flex: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
      'header' auto
      'content' 1fr / 1fr;
    border-radius: var(--border-radius);
    overflow: hidden;

    > header {
      grid-area: header;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      color: var(--color-text-highlight);
      font-size: 0.9rem;
      view-transition-class: widget-header;
    }

    .widget-content {
      grid-area: content;
      padding: 1rem;
      view-transition-class: widget-content;
      min-height: fit-content;
    }
  }

  // Dashboard view
  &:not(.fullscreen) .widget-wrapper {
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow1);
    background-color: var(--color-background);

    @layer widget {
      transition-behavior: allow-discrete;
      transition:
        opacity 0.25s ease-in,
        scale 0.25s ease-in,
        display 0.25s ease-in;

      // Enter animation
      @starting-style {
        scale: 0.7;
        opacity: 0;
      }
    }

    > header {
      background: linear-gradient(
        to bottom,
        var(--color-background-button),
        color-mix(in srgb, var(--color-background-button), transparent 30%),
        transparent
      );
    }
  }
}
